:root {
  --brand: #0b4ea2;
  --muted: #666;
  --card: #fff;
  --bg: #f0f3f8;
  --success: #198754;
  --danger: #dc3545;
  --warning: #ffc107;
--dark-color: #07305e;
}

progress {
  width: 100%;
  height: 0px;
  position: fixed;
  top: 2px;
  display: block;
  align-items: center;
  z-index: 1200;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg);
  margin: 0;
  color: #111;
  line-height: 1.5;
}

/* Back Button Style */
.back-btn1 {
  background: var(--brand);
  padding: 0px;
  text-align: left;
  margin-right: auto;
}

.back-btn1 button {
  margin-top: 15px;
  margin-left: 15px;
  background: #1675b0ff;
  color: #ffffff;
  border: none;
  padding: 6px 6px;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.back-btn1 button:hover {
  background: #004a80;
  color: #fff;
}

.justyfy-header {
  background: var(--brand);
  color: #ffffff;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  border: none;
}

.wrap {
  max-width: 920px;
  margin: 20px auto;
  padding: 18px;
}

h4 {
  color: var (--card);
  font-size: 35px;
}

.main-body {
  margin: 5%;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background: linear-gradient(135deg, #4e73df, #1c72c8);
  color: #fff;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
}

th {
  font-weight: 600;
  font-size: 15px;
}

td {
  font-size: 14px;
  color: #444;
}

tbody tr:nth-child(even) {
  background: #f8f9fc;
}

tbody tr:hover {
  background: #eaf6f1;
  transition: 0.3s;
}

img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

/* অটো ক্রমিক নম্বর */
tbody tr td:first-child::before {
  counter-increment: rowNumber;
  content: counter(rowNumber);
  font-weight: bold;
  color: #1c4dc8;
}

tbody {
  counter-reset: rowNumber;
}

.accordion {
  margin-top: 15px;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  background-color: #0b4ea2;
  color: white;
  font-size: large;
  border-radius: 5px;
  border: none;
}

.accordion:hover {
  background-color: #004a80;
  transform: scale(1.01);
}

/* ফুটার */
footer {
  background-color: rgba(4, 5, 5, 0.908);
  color: white;
  padding: 20px;
  text-align: center;
}

.paragraph-P01 {
  background-color: var(--dark-color);
  color: #ececec;
  border-bottom: 1px solid rgb(156, 149, 149);
  padding: 5px;
  text-align: center;
  margin-top: 30px;
}

.credit-right {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
  margin-top: 15px;
  font-size: 0.9rem;
}

.topbuttonlin {
  background-color: rgb(52, 47, 47);
  padding: 1px;
  height: 100px;
  width: 0px;
}

.sazed {
  text-align: right;
}

.sadi {
  text-align: left;
}

.credit-right span {
  color: rgb(165, 172, 175);
  font-weight: bold;
}

.socalicon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.brand-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 18px;
}

.brand-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgb(0, 0, 0, 02);
}

.fb-brand {
  background: #1877f2;
}

.yt-brand {
  background: #ff0000;
}

.wh-brand {
  background: #25D366;
}

/* ফেসবুক মোডাল */
#fbModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1200;
  justify-content: center;
  align-items: center;
}

.fbModal-content {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fbBackBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #c4c4c438;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.fbBackBtn:hover {
  background-color: #ff0000;
  color: rgb(255, 255, 255);
}

.fbModal-body {
  text-align: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 1px solid #000000;
}

.profile-name {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 15px;
  color: #1877f2;
}

.fbBtn {
  display: inline-block;
  background-color: #1877f2;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px 0;
}

.fbBtn i {
  padding-right: 10px;
}

.fbBtn .fbloading {
  display: none;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 3px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

.fbBtn:hover {
  background-color: #145dbf;
}

.fb-note {
  font-size: 0.8rem;
  color: #666;
  margin-top: 10px;
}

.fb-link-js {
  font-family: 'Arial', sans-serif;
  /* ফন্ট */
  font-size: 15px;
  /* লেখা বড়/ছোট */
  color: #1877f2;
  padding: 5px 5px;
  /* চারপাশে ফাঁকা */
  border-radius: 9px;
  /* কোণ গোল */
  text-decoration: none;
  /* আন্ডারলাইন না থাকা */
}

.fb-link-js:hover {
  background-color: #1877f2;
  /* হোভার রঙ পরিবর্তন */
  color: #ffffff;
  /* হোভার লেখার রঙ */
  cursor: pointer;
  border-radius: 2x;
  box-shadow: 1px 1px 10px 1px #27629d65;
}

/* Responsive */
@media (max-width: 768px) {
  .back-btn1 button {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 10px;
  }

  h4 {
    font-size: 20px;
  }

  .justyfy-header {
    font-size: 10px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    padding: 10px;
  }

  td {
    text-align: right;
    position: relative;
    padding-left: 50%;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 15px;
    width: 45%;
    padding-right: 10px;
    font-weight: bold;
    text-align: left;
    color: #555;
  }

  .credit-right {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5px;
    margin-top: 15px;
    font-size: 0.6rem;
  }


  .credit-right span {
    margin: 0%;
    font-size: 10px;
    color: rgb(165, 172, 175);
    font-weight: bold;
  }
}